body {
  width: 70%;
  margin: auto;
  font-family: sans-serif;
}
header {
  margin-bottom: 5%;
  p {
    font-size: 70%;
  }
}
ul {
  list-style-type: none;
}
$links: 'a:link, a:active, a:visited';
#{$links} {
  color: red;
  text-decoration: none;
}
a:hover {

}